<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登入</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <script type="text/javascript">
        var message = @TempData["alert"] != null ? TempData["alert"].ToString() : "";
        if (message != "") alert(message);
    </script>
    <form method="post">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12">
                    <input class="form-control" type="text" placeholder="身分證字號" name="ACCOUNT" />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12">
                    <input class="form-control" type="text" placeholder="密碼" name="PASSWORD" />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-3">
                    <button class="form-control" type="submit">登入</button>
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
    </form>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
