<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登入</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <form method="post">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <h2>健康管理資訊系統</h2><br />
            </div>
            <div class="col-md-4"></div>
        </div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12">
                        <input class="form-control" type="text" placeholder="身分證字號" name="ACCOUNT" />
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-12">
                        <input class="form-control" type="password" placeholder="密碼" name="PASSWORD" />
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-3">
                        <button class="btn btn-default" type="submit">登入</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
    </form>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @if (TempData["message"] != null)
    {
        <script type="text/javascript">
            var message = @Html.Raw(Json.Encode(TempData["message"]));
            alert(message);
        </script>
    }
</body>
</html>
