@{
    ViewBag.Title = "使用者列表";
}
<form method="get">
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-3">
                <input name="CARDID" class="form-control" placeholder="輸入卡號或身分證字號" value="@ViewBag.CARDID" />
            </div>
            <div class="col-md-1">
                <button type="submit" class="form-control" value="查詢">查詢</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>卡號</th>
                        <th>姓名</th>
                        <th>身分證字號</th>
                        <th>生日</th>
                        <th>性別</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.USERINFO)
                    {
                        <tr>
                            <td>@Html.ActionLink((string)item.USERID, "UserInfo", "Home", new { CARDID = item.USERID }, null)</td>
                            <td>@Html.ActionLink((string)item.USERNAME, "UserInfo", "Home", new { CARDID = item.USERID }, null) </td>
                            <td>@item.ID</td>
                            <td>@item.BIRTHDAY</td>
                            <td>@item.GENDER</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</form>

<script>
    function opena(CARDID) {
        window.open("Home/UserInfo?CARDID=" + CARDID + "&SDATE=&EDATE=", "_self");
    }
</script>